<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>무신사 랭킹</title>
    <style>
        td, th { padding: 2px; text-align: center;}
    </style>
</head>
<body style="margin: 40;">
    <h3>무신사 랭킹 <button onclick="location.href='/'">메인으로</button></h3>
    <hr>
    <table border="1">
        <tr>
            <th>순위</th>
            <th>사진</th>
            <th>브랜드</th>
            <th>제품명</th>
            <th style="width: 120px;">가격</th>
            <th>좋아요 수</th>
        </tr>
        <!-- {'순위': rank + ' ' + rank_update, '사진': img, '브랜드': brand, '제품명': name,
                        '가격': price, '좋아요 수': like } -->
        {% for fas in fas_list %}
            <tr>
                <td>{{fas.순위}}</td>
                <td><img src="{{fas.사진}}" height="64"></td>
                <td>{{fas.브랜드}}</td>
                <td>{{fas.제품명}}</td>
                <td>{{fas.가격}}</td>
                <td>{{fas['좋아요 수']}}</td>
            </tr>
        {% endfor %}
    </table>
    
</body>
</html>